html, body {
  margin: 0;
  padding: 0;
}

.btnRow {
	position: absolute;
	display: inline-block;
	height: auto;
	left: 0;
	bottom: 2%;
	opacity: 1;
	transition: all 1s;
	/*transform: translate(-50%, -50%);*/
	/*border: red solid 2px;*/
}



.btn {
	display: inline-block;
	width: 6.5vw;
	padding: 0.03vh 1vw;
	margin: 1vh 0 0 1vw;
	text-align: center;
	vertical-align: middle;
	line-height: 5vh;  
	color: #FFFFFF;
	background-color: #000000;
	font-size: 1vw;
	font-family: Lato;
	text-decoration: none;
	border: .15vw solid #FFFFFF;
	border-radius: 1vw;
	
	z-index: 1;
	cursor: pointer;
	transition: all 0.2s;
}

.btnD{
	display: inline-block;
	width: 6.5vw;
	padding: 0.03vh 1vw;
	text-align: center;
	vertical-align: middle;
	line-height: 5vh;  
	color: #000000;
	background-color: #FFFFFF;
	font-size: 1vw;
	font-family: Lato;
	text-decoration: none;
	border: .15vw solid #000000;
	border-radius: 1vw;
	
	z-index: 1;
	cursor: pointer;
	transition: all 0.2s;
}

/*.btn:hover{
	color: #000000;
	background-color: #FFFFFF;
}

.btnD:hover{
	color: #FFFFFF;
	background-color: #000000;
}*/



.voiceLevelRow {
	display: inline-block;
	opacity: .4;
	position: fixed;
	bottom: 0;
	right: 0;
	transition: opacity 1s;
}

.voiceLevel {
	display: inline-block;
	text-align: center;
	float: right;
	color: #FFFFFF;
	font-size: 1vw;
	font-family: Lato;
	padding: 0.03vh 1vw;
	margin: 1.5vh 0 0 1vw;
}

.voiceLevelD {
	display: inline-block;
	text-align: center;
	float: right;
	color: #000000;
	font-size: 1vw;
	font-family: Lato;
	padding: 0.03vh 1vw;
	margin: 1.5vh 0 0 1vw;
}

.voiceLevelBar {
	display: inline-block;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 0.8vw;
	height: 100%;
	background-color: #FFFFFF;
}

.voiceLevelBarD {
	position: fixed;
	display: inline-block;
	bottom: 0;
	right: 0;
	width: 0.8vw;
	height: 100%;
	background-color: #000000;
}

#emojiContainer {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	color: #eb4034;
	font-size: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-name: spin;
 	animation-duration: 5000ms;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
  	/*border: red solid 2px;*/
}

#emojiMoon {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	color: #eb4034;
	font-size: 195px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	/*transition: opacity .5s;
	transition-timing-function: ease-in;*/
	/*display: none;*/
	/*border: blue solid 2px;*/
}

#emojiSun {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	color: #eb4034;
	font-size: 190px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	/*transition: opacity .5s;
	transition-timing-function: ease-in;*/
	/*display: none;*/
}

#myString {
	color: red;
	font-size: 100px;
	z-index: 10;
}

span {
	display: inline-block;
	z-index: 1;
	padding: 0.03vh 1vw;
	text-align: center;
	vertical-align: middle;
	font-size: 1.1vw;
	font-family: Lato;
	text-decoration: none;
}

canvas {
  display: block;
}

/*@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .btnRow {
  	opacity: 1;
  }

  .voiceLevelRow{
  	opacity: 1;
  }
  
}

@media (min-width: 481px) and (max-width: 767px) {
  
  .btnRow {
  	opacity: 1;
  }

  .voiceLevelRow{
  	opacity: 1;
  }
  
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .btnRow {
  	opacity: 1;
  }

  .voiceLevelRow{
  	opacity: 1;
  }
  
}*/



@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

